<div id="<%= dom_id book %>">
  <div>
    <strong>Name:</strong>
    <%= book.name %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= book.author %>
  <div>

  <div> 
    <strong>Cost:</strong>
    <%= book.cost %>
  </div>

    <strong>Genre:</strong>
    <%= book.genre %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= book.description %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= book.notes %>
  </div>

  
</div>
